In [2]:
import pandas as pd

In [13]:
file = pd.read_excel(r"C:\Users\016434613\Desktop\testing.xlsm",sheet_name="Metricdisplay")

In [25]:
file

,MANAGER,DEVELOPERS,ROBOT NBR,HS,COUNT
0,Andrej Csiaki,Katarina Kadlecova,ODA107,64.0,1
1,Andrej Csiaki,Katarina Kadlecova,ODA108,190.0,1
2,Andrej Csiaki,Katarina Kadlecova,ODA117,24.0,1
3,Andrej Csiaki,Katarina Kadlecova,ODA129,12.0,1
4,Andrej Csiaki,Katarina Kadlecova,ATA624,44.0,1
5,Andrej Csiaki,Marián Chrást,ATA418,46.0,1
6,Andrej Csiaki,Marián Chrást,ATA583,29.2,1
7,Andrej Csiaki,Marián Chrást,ATA615,36.0,1
8,Andrej Csiaki,Marián Chrást,ATA619,48.0,1
9,Andrej Csiaki,Nikolaj Kniha,ATA598,126.0,1
10,Andrej Csiaki,Lukáš Jindra,ODA117,12.0,1
11,Marek Tarkos,Andrea Hrčková,ATA251,160.0,1
12,Marek Tarkos,Andrea Hrčková,ATA565,4.0,1
13,Marek Tarkos,Andrea Hrčková,ATA566,3.0,1
14,Marek Tarkos,Barbora Depešová,ATA318,150.0,1
15,Marek Tarkos,Barbora Depešová,ATA614,115.0,1
16,Marek Tarkos,Barbora Depešová,ATA626,64.0,1
17,Marek Tarkos,Ivan Trubač,ATA104,132.0,1
18,Marek Tarkos,Ivan Trubač,ATA607,36.0,1
19,Marek Tarkos,Ivan Trubač,ATA608,24.0,1
20,Marek Tarkos,Ivan Trubač,ATA617,106.0,1
21,Marek Tarkos,Kristína Vojtová,ATA591,114.0,1
22,Marek Tarkos,Milan Babčanec,ATA296,817.0,1
23,Marek Tarkos,Miroslav Kocian,ATA586,24.0,1
24,Marek Tarkos,Miroslav Kocian,ATA587,9.0,1
25,Marek Tarkos,Soňa Olšová,ATA024,30.0,1
26,Marek Tarkos,Soňa Olšová,ATA550,50.0,1
27,Marek Tarkos,Soňa Olšová,ATA618,135.0,1
28,Martin Campos,Andres Ignacio Lopez Grosman,ATA572,66.0,1
29,Martin Campos,Maria Laura Bisaccia,ATA609,18.0,1
30,Martin Campos,Martin Spadoni,ODA114,36.0,1
31,Martin Campos,Martin Spadoni,ATA604,94.0,1
32,Martin Campos,Martin Spadoni,ODA133,75.0,1
33,Martin Campos,Pablo Ariel Iacovone,ATA576,84.0,1
34,Martin Campos,Pablo Ariel Iacovone,ATA616,34.0,1
35,Martin Campos,"Santiago Kitashima, Andres Ignacio Lopez Grosman",ATA580,215.0,1
36,Martin Campos,"Dario Cesar Atach, Maria Laura Bisaccia",ATA602,72.0,1
37,Martin Campos,"Santiago Kitashima, Maria Laura Bisaccia",ODA122,336.0,1
38,Martin Campos,"Santiago Kitashima, Maria Laura Bisaccia",ATA606,120.0,1
39,Martin Campos,"Maria Laura Bisaccia, Dario Cesar Atach",ATA585,150.0,1
40,Martin Campos,"Santiago Kitashima, Martin Spadoni",ATA594,78.0,1
41,Francisco del Castillo,Colleen Bradshaw,ATA480,100.0,1
42,Francisco del Castillo,Colleen Bradshaw,ATA527,12.0,1
43,Francisco del Castillo,Colleen Bradshaw,ODA104,24.0,1
44,Francisco del Castillo,Nuno Filipe Macedo Gomes,WBA008,780.0,1
45,Francisco del Castillo,Nuno Filipe Macedo Gomes,WBA007,20.0,1

In [27]:
i=0
for i in range(file["MANAGER"].size):
    print(file["MANAGER"][i], file["DEVELOPERS"][i], file["ROBOT NBR"][i], file["HS"][i], file["COUNT"][i])

Andrej Csiaki Katarina Kadlecova ODA107 64.0 1
Andrej Csiaki Katarina Kadlecova ODA108 190.0 1
Andrej Csiaki Katarina Kadlecova ODA117 24.0 1
Andrej Csiaki Katarina Kadlecova ODA129 12.0 1
Andrej Csiaki Katarina Kadlecova ATA624 44.0 1
Andrej Csiaki Marián Chrást ATA418 46.0 1
Andrej Csiaki Marián Chrást ATA583 29.2 1
Andrej Csiaki Marián Chrást ATA615 36.0 1
Andrej Csiaki Marián Chrást ATA619 48.0 1
Andrej Csiaki Nikolaj Kniha ATA598 126.0 1
Andrej Csiaki Lukáš Jindra ODA117 12.0 1
Marek Tarkos Andrea Hrčková ATA251 160.0 1
Marek Tarkos Andrea Hrčková ATA565 4.0 1
Marek Tarkos Andrea Hrčková ATA566 3.0 1
Marek Tarkos Barbora Depešová ATA318 150.0 1
Marek Tarkos Barbora Depešová ATA614 115.0 1
Marek Tarkos Barbora Depešová ATA626 64.0 1
Marek Tarkos Ivan Trubač ATA104 132.0 1
Marek Tarkos Ivan Trubač ATA607 36.0 1
Marek Tarkos Ivan Trubač ATA608 24.0 1
Marek Tarkos Ivan Trubač ATA617 106.0 1
Marek Tarkos Kristína Vojtová ATA591 114.0 1
Marek Tarkos Milan Babčanec ATA296 817.0 1
Marek Tarkos Miroslav Kocian ATA586 24.0 1
Marek Tarkos Miroslav Kocian ATA587 9.0 1
Marek Tarkos Soňa Olšová ATA024 30.0 1
Marek Tarkos Soňa Olšová ATA550 50.0 1
Marek Tarkos Soňa Olšová ATA618 135.0 1
Martin Campos Andres Ignacio Lopez Grosman ATA572 66.0 1
Martin Campos Maria Laura Bisaccia ATA609 18.0 1
Martin Campos Martin Spadoni ODA114 36.0 1
Martin Campos Martin Spadoni ATA604 94.0 1
Martin Campos Martin Spadoni ODA133 75.0 1
Martin Campos Pablo Ariel Iacovone ATA576 84.0 1
Martin Campos Pablo Ariel Iacovone ATA616 34.0 1
Martin Campos Santiago Kitashima, Andres Ignacio Lopez Grosman ATA580 215.0 1
Martin Campos Dario Cesar Atach, Maria Laura Bisaccia ATA602 72.0 1
Martin Campos Santiago Kitashima, Maria Laura Bisaccia ODA122 336.0 1
Martin Campos Santiago Kitashima, Maria Laura Bisaccia ATA606 120.0 1
Martin Campos Maria Laura Bisaccia, Dario Cesar Atach ATA585 150.0 1
Martin Campos Santiago Kitashima, Martin Spadoni ATA594 78.0 1
Francisco del Castillo Colleen Bradshaw ATA480 100.0 1
Francisco del Castillo Colleen Bradshaw ATA527 12.0 1
Francisco del Castillo Colleen Bradshaw ODA104 24.0 1
Francisco del Castillo Nuno Filipe Macedo Gomes WBA008 780.0 1
Francisco del Castillo Nuno Filipe Macedo Gomes WBA007 20.0 1