In [4]:
import ibm_db
import ibm_db_dbi as dbi
import pandas as pd

conn=dbi.connect("DATABASE=USIBMVRDP1H;HOSTNAME=usibmvrdp1h.ssiplex.pok.ibm.com;PORT=5520;PROTOCOL=TCPIP;UID=ar16434;PWD=No_tengocovid23;Security=SSL;SSLClientKeystoredb=C:\Program Files\IBM\DB2\DB2COPY1\DB2\ibmca.kdb;SSLClientKeystoreDBPassword=n0nexp1r;", "", "")

sql = "select cty, lc,maj,minor,smin,amtloc from lrpcc.ladetail_cm_d where cty='613'"

df2=pd.read_sql(sql,conn)
df2

        CTY  LC  MAJ MINOR  SMIN    AMTLOC
0       613  03  173  0140  0000 -21282.60
1       613  03  173  0140  0000 -21526.70
2       613  03  173  0140  0000 -21526.70
3       613  03  173  0140  0000 -21526.70
4       613  03  173  0140  0000 -21526.70
...     ...  ..  ...   ...   ...       ...
124731  613  04  418  0873  0000   1447.83
124732  613  04  418  0873  0000   1780.35
124733  613  04  418  0873  0000   1780.35
124734  613  03  174  0110  0000 -24523.00
124735  613  04  174  0110  0000      0.00

[124736 rows x 6 columns]

In [2]:
import pyodbc

conn = pyodbc.connect('DSN=DP1H;Database=USIBMVRDP1H;UID=ar16434;PWD=No_tengocovid23', autocommit=True)

OperationalError: ('08001', '[08001] [IBM][CLI Driver] SQL30081N  Se ha detectado un error en las comunicaciones. Protocolo de comunicaciones que se está utilizando: "TCP/IP".  API de comunicaciones que se está utilizando: "SOCKETS".  Ubicación donde se ha encontrado el error: "9.214.130.69".  Función de comunicación que ha detectado el error: "recv".  Código(s) de error específico(s) del protocolo: "10054", "*", "0".  SQLSTATE=08001\r\n (-30081) (SQLDriverConnect)')