<h2>JSON encoder and decoder</h2>
<img src="JSON.png" alt="JSON explanation">

<i>La respuesta del servidor siempre es un string, asi que hay que decodificarla con JSON para que se convierta literalmente en las estructuras que están dadas por el string (i.e Dict, Lists, etc)</i>

In [24]:
import pandas as pd
import time
from center_leaders_functions import *
import warnings

start = time.time()

warnings.filterwarnings('ignore')
df_Grois = centerLead("047825613","Moises Groisman","BA")
df_Wong = centerLead("095728778","Hou Chung Wong","KL")
df_Leho = centerLead("A50757693","Róbert Lehocký","SK")
df_Castillo = centerLead("026956613","Francisco del Castillo","BA")

df_1_BA = reportFunc(dataframe=df_Grois, loc="BA")
df_2_BA = reportFunc(dataframe=df_1_BA, loc="BA")
df_1_KL = reportFunc(dataframe=df_Wong, loc="KL")
df_2_KL = reportFunc(dataframe=df_1_KL, loc="KL")
df_1_SK = reportFunc(dataframe=df_Leho, loc="SK")
df_2_SK = reportFunc(dataframe=df_1_SK, loc="SK")
df_1_Cas = reportFuncDT(dataframedt=df_Castillo)

df_g = {"Reports":"Moises Groisman","Serials":"047825613","isManager":True,"Location":"BA","Email":"groisman@ar.ibm.com","Manager":"Hector Lopez","EmpType":"IBM employee, Regular","Job_title":"IBM Accounting Buenos Aires Leader"}
df_Grois = df_Grois.append(df_g, ignore_index=True)
df_all = df_Grois.append(df_1_BA)
df_all = df_all.append(df_2_BA)
df_w = {"Reports":"Hou Chung Wong","Serials":"095728778","isManager":True,"Location":"KL","Email":"wonghc@my.ibm.com","Manager":"Hector Lopez","EmpType":"IBM employee, Regular","Job_title":"IBM Accounting Kuala Lumpur Leader"}
df_Wong = df_Wong.append(df_w, ignore_index=True)
df_all = df_all.append(df_Wong)
df_all = df_all.append(df_1_KL)
df_all = df_all.append(df_2_KL)
df_r = {"Reports":"Róbert Lehocký","Serials":"A50757693","isManager":True,"Location":"SK","Email":"robert.lehocky@sk.ibm.com","Manager":"Hector Lopez","EmpType":"IBM employee, Regular","Job_title":"IBM Accounting Bratislava Leader"}
df_Leho = df_Leho.append(df_r, ignore_index=True)
df_all = df_all.append(df_Leho)
df_all = df_all.append(df_1_SK)
df_all = df_all.append(df_2_SK)
df_f = {"Reports":"Francisco del Castillo","Serials":"026956613","isManager":True,"Location":"BA","Email":"castillo@ar.ibm.com","Manager":"Chris Wright","EmpType":"IBM employee, Regular","Job_title":"Senior Manager, IBM Accounting Digital Transformation"}
df_Castillo = df_Castillo.append(df_f, ignore_index=True)
df_all = df_all.append(df_Castillo)
df_all = df_all.append(df_1_Cas)

df_all = df_all.loc[df_all['EmpType']!="IBM employee, Leave of Absence"]
df_all = df_all.loc[df_all['EmpType']!="non-IBM employee, Contractor"]
df_all = df_all.loc[df_all['EmpType']!="non-IBM employee, Vendor"]

df_add_count = df_all.loc[df_all['isManager']==True]

list_count = calculateRepo(df_add_count)
df_add_count['RepoCount']=list_count

df_add_count = df_add_count.loc[:,['Serials','RepoCount']]

df_all = df_all.merge(df_add_count, on="Serials", how="left")
df_all.fillna(value=0,inplace=True)

df_all.to_excel(r"C:\Users\016434613\Desktop\CenterLeaders-Report.xlsx", index=False)

end = time.time()
mins = (end-start)/60.00
string = "Report created in: {:.2f} minutes".format(mins)
print(string)

Report created in: 19.07 minutes

## To run only Francisco's org report

In [28]:
import pandas as pd
import time
from center_leaders_functions import *
import warnings

start = time.time()

warnings.filterwarnings('ignore')

df_Castillo = centerLead("026956613","Francisco del Castillo","BA")
df_1_Cas = reportFuncDT(dataframedt=df_Castillo)
df_f = {"Reports":"Francisco del Castillo","Serials":"026956613","isManager":True,"Location":"BA","Email":"castillo@ar.ibm.com","Manager":"Chris Wright","EmpType":"IBM employee, Regular","Job_title":"Senior Manager, IBM Accounting Digital Transformation"}
df_Castillo = df_Castillo.append(df_f, ignore_index=True)
df_all = df_Castillo
df_all = df_all.append(df_1_Cas)

df_all = df_all.loc[df_all['EmpType']!="IBM employee, Leave of Absence"]
df_all = df_all.loc[df_all['EmpType']!="non-IBM employee, Contractor"]
df_all = df_all.loc[df_all['EmpType']!="non-IBM employee, Vendor"]

df_add_count = df_all.loc[df_all['isManager']==True]

list_count = calculateRepo(df_add_count)
df_add_count['RepoCount']=list_count

df_add_count = df_add_count.loc[:,['Serials','RepoCount']]
df_all = df_all.merge(df_add_count, on="Serials", how="left")
df_all.fillna(value=0,inplace=True)

df_all.to_excel(r"C:\Users\016434613\Desktop\Francisco_only.xlsx", index=False)

end = time.time()
mins = (end-start)/60.00
if mins < 1:
    mins = end-start
    string = "Report created in: {:.2f} seconds".format(mins)
else:
    string = "Report created in: {:.2f} minutes".format(mins)
print(string)

Report created in: 17.30 seconds

In [1]:
import pandas as pd
import time
from center_leaders_functions import *
import warnings

start = time.time()

warnings.filterwarnings('ignore')

df_Campos = centerLead("016434613","Martin Campos","BA")

end = time.time()
mins = (end-start)/60.00
if mins < 1:
    mins = end-start
    string = "Report created in: {:.2f} seconds".format(mins)
else:
    string = "Report created in: {:.2f} minutes".format(mins)
print(string)
df_Campos

Report created in: 1.64 seconds

,Reports,Serials,isManager,Location,Email,Manager,EmpType,Job_title
0,Dario Cesar Atach,03766A613,False,BA,datach@ar.ibm.com,Martin Campos,"IBM employee, Regular",
1,Maria Laura Bisaccia,000209613,False,BA,Maria.Laura.Bisaccia@ibm.com,Martin Campos,"IBM employee, Regular",RPA Developer
2,Ezequiel Ricardo Ferlauto,046037613,False,BA,eferlaut@ar.ibm.com,Martin Campos,"IBM employee, Regular",Development & Operations - IBM Accounting Digi...
3,Pablo (Paul) Iacovone,050853613,False,BA,iacovone@ar.ibm.com,Martin Campos,"IBM employee, Regular","Developer, Accounting Digital Automation"
4,Santiago Akira Kitashima,000327613,False,BA,Santiago.Kitashima@ibm.com,Martin Campos,"IBM employee, Regular",Accounting Systems Analyst - RPA Developer
5,Martin Laguna,004725613,False,BA,M.Laguna@ibm.com,Martin Campos,"IBM employee, Regular",Full Stack Developer
6,Andrés Lopez Grosman,056584613,False,BA,lopezgro@ar.ibm.com,Martin Campos,"IBM employee, Regular","SME, Developer - Automation, Transformation an..."
7,Bruno Secchiari,046673613,False,BA,bsecchia@ar.ibm.com,Martin Campos,"IBM employee, Regular","Automation, Transformation & Reporting - ATA T..."
8,Martin Spadoni,089305613,False,BA,spadoni@ar.ibm.com,Martin Campos,"IBM employee, Regular","Developer, IBM Accounting Digital Transformation"
9,Martin Ezequiel Williner,004543613,False,BA,williner@ibm.com,Martin Campos,"IBM employee, Regular",Accounting Analyst