### Pre-requisitos para que funcione correctamente
<ul>
    <li> Instalar nueva version 11.5 del pc catalog</li>
    <li> Usar version modificada del .bat setup_cmd para setear las conexiones(la tengo yo)</li>
    <li> Carpeta utils, tiene que tener licencia 11.5 (la tengo yo puesta) y los GSKit nuevos version 8.50.89 al 27/4</li>
    <li> El conection string, ademÃ¡s de lo que figura en github --> <a href="https://github.com/ibmdb/python-ibmdb#api" target="_blank">IBM_DB API</a>, tiene que tener los parametros security=ssl,SSLClientKeystoredb=<b>dir donde esta el ibmca.kdb</b>;SSLClientKeystoreDBPassword=<b>psw que se optiene del .bat setup_cmd</b></li> 
</ul>

In [1]:
import ibm_db
import ibm_db_dbi as dbi
import pandas as pd



conn=dbi.connect("DATABASE=USIBMVRDP1H;HOSTNAME=usibmvrdp1h.ssiplex.pok.ibm.com;PORT=5520;PROTOCOL=TCPIP;UID=ar16434;PWD=No_tengocovid23;Security=SSL;SSLClientKeystoredb=C:\Program Files\IBM\DB2\DB2COPY1\DB2\ibmca.kdb;SSLClientKeystoreDBPassword=n0nexp1r;", "", "")

sql = ''' select cty, lc,maj,minor,smin,amtloc 
            from lrpcc.ladetail_cm_d 
                where cty='613' '''

df2=pd.read_sql(sql,conn)
df2.head()

   CTY  LC  MAJ MINOR  SMIN   AMTLOC
0  613  03  173  0140  0000 -21282.6
1  613  03  173  0140  0000 -21526.7
2  613  03  173  0140  0000 -21526.7
3  613  03  173  0140  0000 -21526.7
4  613  03  173  0140  0000 -21526.7